<div class="jumbotron">
  <div class="container">
    <h1>Hey Everyone!</h1>
    <p>This app let's you play FizzBuzz over the phone. To start either call <b>(702) 789-6467</b>, or enter 
      the number that you would like to play on below, and FizzBuzz will call you</p>
  </div>
</div>

<div class="container">

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">Call This Number!</button>
      </div>
    </div>
    </div>
  </form>

  <hr>

  <footer>
    <p>&copy; Sidney Quitorio Inc. 2014</p>
  </footer>
</div> <!-- /container