<div class="jumbotron">
  <div class="container">
    <h1>Hey Everyone!</h1>
    <p>This app let's you play FizzBuzz over the phone. To start either call <b>(702) 789-6467</b>, or enter 
      the number that you would like to play on below, and FizzBuzz will call you</p>
  </div>
</div>

<div class="container">

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputPhoneNumber" class="col-sm-2 control-label">Phone Number</label>
      <div id='phoneNumberContainer' class="col-sm-5 has-error">
        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="7028124465">
      </div>
      <div class="col-sm-5">
        <button id="phoneNumberSubmit" type="text" class="btn btn-primary disabled">Call This Number!</button>
      </div>
    </div>
    </div>
  </form>

  <hr>

  <footer>
    <p>&copy; Sidney Quitorio Inc. 2014</p>
  </footer>
</div> <!-- /container